{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
<div class="container login">
    <div class="row">
        <div class="col-12">
            <div class="comment-form-wrap pt-5 pb-5">
                {{ form_errors(requestPassForm) }}
                {{ form_start(requestPassForm) }}
                    <h1 class="h3 mb-3 font-weight-normal">Mot de passe oublié</h1>
                    <div class="form-group">
                        {{ form_row(requestPassForm.email) }}
                    </div>
                    <button class="btn btn-primary btn-md text-white" type="submit">
                        réinitialiser
                    </button>
                {{ form_end(requestPassForm) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
