<footer class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="m-0 pt-3 pb-3">SnowTricks Copyright@2023</p>
            </div>
        </div>
    </div>
</footer>
