<img src="{{ absolute_url(asset('images/logo.png' | raw)) }}" alt="Logo SnowTricks" width="200" height="200">
<h1>Réinitialisation de votre mot de passe</h1>
<p>Bonjour {{ user.pseudo }},</p>
<p>Pour votre demande de réinitialisation de mot de passe, veuillez cliquer sur le lien suivant :</p>
<p><a class="btn-dark" href="{{ url|raw }}">Changer mon mot de passe</a></p>